<!DOCTYPE html>
<html>
<head>
    <title>Resume - Add</title>
</head>
<body>
<h1>Add New Resume</h1>
<form action="/resume/insert" method="get">
    Account Id: <input name="account_id" type="text" />
    <br />
    Resume Name: <input name="resume_name" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>